.DS_Store
all_maintenance_tasks.csv
bigquery.ipynb
bigquery.sql
cleaning_tasks.csv
coolsys_0.ipynb
coolsys_1.ipynb
coolsys_2.ipynb
coolsys_3.ipynb
coolsys_4.ipynb
coolsys_5.ipynb
coolsys_6.ipynb
coolsys_7.ipynb
coolsys_8.ipynb
coolsys_9.ipynb
coolsys_engine_0.ipynb
coolsys.sql
.ipynb_checkpoints/
__pycache__/
coolsys_env/
data/
cs_eng.ipynb.backup
cs_eng_1.ipynb
cs_eng.ipynb
cs_engine_2.ipynb
database_connection.ipynb
feature-extraction-with-hugging-face-transformers.ipynb
inspection_tasks.csv
maintenance_analysis_report.pdf
maintenance_tasks.csv
nlp_engine.py
other_tasks.csv
output_1.txt
output.pdf
pdf_manual_insert.py
requirements.txt
run_analysis.py
save_analysis_to_pdf.py
save_plot.py
test_db.py
test_nlp_engine.py
docs/
src/
tests/
process_records.py
find_tables_with_record.sql
run_search.py
search_tables_0.ipynb
search_tables_sqlserver_info_schema.sql
search_tables_sqlserver.sql
search_tables.ipynb
search_tables.py
search_tables.sql
search_tables_simple.ipynb
old_models/