.DS_Store
all_maintenance_tasks.csv
bigquery.ipynb
bigquery.sql
cleaning_tasks.csv
coolsys_0.ipynb
coolsys_1.ipynb
coolsys_2.ipynb
coolsys_3.ipynb
coolsys_4.ipynb
coolsys_5.ipynb
coolsys_6.ipynb
coolsys_7.ipynb
coolsys_8.ipynb
coolsys_9.ipynb
coolsys_engine_0.ipynb
coolsys.sql
.ipynb_checkpoints/
__pycache__/
coolsys_env/
data/
cs_eng.ipynb.backup
cs_eng_1.ipynb
cs_eng.ipynb
cs_engine_2.ipynb
database_connection.ipynb
feature-extraction-with-hugging-face-transformers.ipynb
inspection_tasks.csv
maintenance_analysis_report.pdf
maintenance_tasks.csv
nlp_engine.py
other_tasks.csv
output_1.txt
output.pdf
pdf_manual_insert.py
requirements.txt
run_analysis.py
save_analysis_to_pdf.py
save_plot.py
test_db.py
test_nlp_engine.py
docs/
src/
tests/
process_records.py
find_tables_with_record.sql
run_search.py
search_tables_0.ipynb
search_tables_sqlserver_info_schema.sql
search_tables_sqlserver.sql
search_tables.ipynb
search_tables.py
search_tables.sql
search_tables_simple.ipynb
old_models/
analyze_code_charts.py
code_analysis.html
code_analysis.md
code_analysis.pdf
code_description.docx
consumables_analysis.csv
cs_engine_fin.py
cs_engine_final_1_analysis.docx
cs_engine_final_1_analysis.md
cs_engine_final_1.ipynb
generate_analysis.py
generate_and_include_charts.py
generate_detailed_analysis.py
install_pyodbc.sh
maintenance_analysis.png
maintenance_analyzer.py
maintenance_correlations.csv
maintenance_types_analysis.csv
md_to_html.py
parts_analysis.csv
parts_consumables_analysis.csv
problem_types_analysis.csv
update_html_with_charts.py
visualize_maintenance.py
.vscode/
charts/
figures/

cs_engine_fin.ipynb
